@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Radiostation.WebUI.Models.Users.ChangeRoleVM

<h2>Изменение ролей для пользователя @Model.UserEmail</h2>

<form asp-action="EditRoles" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (var role in Model.AllRoles)
        {
            <input type="radio" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br/>
            }
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>